*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

input {
  padding: 10px 12px;
  color: #878aff; }

img {
  display: inline-block;
  width: 100%;
  height: 100%; }

button {
  cursor: pointer; }

h3 {
  font: 16px robotobold; }

body {
  margin: 0;
  padding: 0;
  font: 14px robotoregular;
  color: #fff;
  background-color: #212374; }

.container {
  max-width: 1167px;
  margin: 0 auto; }

main {
  position: relative; }

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0 0; }

nav {
  display: flex; }
  nav ul {
    display: flex;
    align-items: center; }
    nav ul li:not(:last-child) {
      padding: 0 30px 0 0; }
    nav ul a {
      color: #a2a3ca;
      font-size: 16px; }
      nav ul a:active, nav ul a:hover {
        color: #fff;
        font-weight: bold; }
  nav button {
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #fff; }
    nav button.login {
      margin: 0 10px 0 40px;
      background-color: transparent;
      border: 1px solid #fff; }
    nav button.sign-up {
      background-color: #4b4fe8;
      border: none; }

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .logo-wrapper .logo {
    width: 109px;
    height: 20px;
    display: inline-block;
    margin: 0 46px 0 0;
    background-image: url("../img/logo.svg"); }
  .logo-wrapper .night-version-btn {
    border: none;
    background: transparent url("../img/night-v.svg") no-repeat 5% 50%;
    color: #fff;
    padding: 10px 0 10px 7px;
    width: 125px;
    font: 12px robotomedium; }

.profile a {
  display: flex; }
  .profile a span {
    padding: 0 5px 0 0;
    color: #878aff; }
  .profile a .img-wrapper {
    width: 14px;
    height: 14px; }

.wrapper {
  width: 100%;
  background-image: linear-gradient(140deg, #242784 30%, transparent 30%); }

.content {
  max-width: 456px;
  padding: 20% 0 0 0;
  color: #fff; }
  .content h1 {
    font: 32px robotobold; }
  .content p {
    line-height: 1.7;
    color: #fff;
    font-size: 14px; }

.exchange {
  background-color: #32359b;
  box-shadow: 0 12px 34px 0 rgba(19, 21, 80, 0.52);
  border-radius: 6px;
  padding: 20px;
  margin: 50px 0 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .exchange .img-wrapper {
    width: 19px;
    height: 19px;
    cursor: pointer;
    display: inline-block; }

.exchange-button {
  width: 20px;
  height: 20px;
  background: transparent url("../img/exchange.svg");
  border: none; }

.exchange-rate .title {
  margin: 0 0 30px 0; }

.title {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title span {
    font-size: 14px;
    color: #a0a1c3; }

.wrapper-dropdown {
  display: inline-block;
  position: relative;
  padding: 10px 25px 10px 12px;
  background: #4346b4;
  cursor: pointer;
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #878aff transparent; }

.wrapper-dropdown .dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  transition: all 0.3s ease-out;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  background-color: #4346b4;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease-out;
  color: #9495cb; }

.wrapper-dropdown .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle; }

.wrapper-dropdown .dropdown li:hover a {
  color: #fff; }

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
  z-index: 2; }

.wrapper-dropdown.active:after {
  border-width: 0 6px 6px 6px; }

.sum {
  height: 37px;
  width: 384px;
  background-color: #4346b4;
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px; }

.exchange-btn {
  color: #fff;
  border: none;
  background-color: #4b4fe8;
  border-radius: 6px;
  width: 152px;
  height: 37px; }
  .exchange-btn:hover {
    box-shadow: 1px 2px 10px 0 #1a1d71; }

.currencies .currencies-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 45px 0 0 0; }
  .currencies .currencies-wrapper .currencies_item {
    flex-direction: column;
    margin: 0 40px 0 0;
    text-align: center; }
  .currencies .currencies-wrapper .currencies_item span {
    font-size: 12px; }
  .currencies .currencies-wrapper .currencies_item-img-wrapper {
    width: 43px;
    height: 43px;
    border: solid 3px #4346b4;
    border-radius: 50px;
    padding: 8px;
    margin: 0 0 12px 0;
    display: inline-block; }

.currencies h3 + div {
  width: 500px; }

/*Style for table*/
.wrapper-exchange {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.exchange-rate {
  min-width: 570px; }
  .exchange-rate span {
    font-size: 12px; }

.exchange-rate .table .row .col {
  color: #fff; }

.table {
  min-width: 570px;
  border-radius: 4px; }
  .table h3 {
    margin-bottom: 20px; }
  .table .row {
    display: flex;
    flex-wrap: wrap; }
    .table .row:nth-child(odd) {
      background-color: rgba(50, 53, 155, 0.4); }
      .table .row:nth-child(odd):last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px; }
    .table .row:nth-child(even) {
      background-color: #32359b;
      border-radius: 4px; }
    .table .row.head .col {
      color: #878aff;
      font-family: robotomedium; }
    .table .row .col {
      display: flex;
      align-items: center; }
      .table .row .col:first-child {
        padding: 7px 14px;
        flex: 0.7; }
      .table .row .col:last-child {
        padding: 0 14px 0 0; }
    .table .row .col .img-wrapper {
      width: 25px;
      height: 25px;
      border: solid 1px #878aff;
      border-radius: 50px;
      padding: 5px; }

.table .row:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.table .row .col {
  flex: 1.5;
  color: #9495cb; }

/*News*/
.news {
  padding: 80px 0 42px 0; }
  .news h3 {
    margin: 0 0 30px 0; }

.news-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .news-wrapper .news-item {
    width: 31%; }
    .news-wrapper .news-item h4 {
      margin: 5px 0 13px; }
  .news-wrapper .news-item.latest .share .social {
    display: flex;
    justify-content: space-between; }

.news-wrapper + a {
  display: block;
  padding: 13px 0 0 0;
  text-align: right; }

.news-item.latest {
  padding: 0 0 43px 0; }
  .news-item.latest h4 {
    margin: 5px 0 13px; }

.news-item span, p {
  color: #9495cb;
  font-size: 14px;
  text-align: justify;
  line-height: 24px; }

a {
  color: #6468ff; }

.news-piece-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0; }
  .news-piece-wrapper p {
    line-height: 1.67; }
  .news-piece-wrapper h3 {
    margin: 0 0 20px 0; }
  .news-piece-wrapper .col-right {
    padding: 0 0 0 127px; }
    .news-piece-wrapper .col-right .social {
      display: flex;
      padding: 15px 0 0 0; }
      .news-piece-wrapper .col-right .social li:not(:last-child) {
        padding: 0 14px 0 0; }

.news-item.latest .share .social .img-wrapper {
  width: 20px;
  height: 20px; }

/*Rules*/
.rules {
  padding: 50px 0;
  line-height: 24px; }
  .rules h3 + p {
    font-size: 12px; }
  .rules ul li p {
    margin: 5px 0 25px; }

/*Footer*/
footer {
  background-color: #12146a; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    color: #9495cb; }
    footer .container ul {
      display: flex; }
      footer .container ul li a {
        color: #9495cb; }
      footer .container ul li:first-child {
        padding: 0 23px 0 0; }

.footer-profile {
  background-color: transparent; }

/*Login-popup*/
.login-popup,
.sign-up-popup,
.exchange-popup,
.confirm-change-popup,
.cancel-exchange-popup {
  display: none; }
  .login-popup .login-popup_input-wrapper,
  .sign-up-popup .login-popup_input-wrapper,
  .exchange-popup .login-popup_input-wrapper,
  .confirm-change-popup .login-popup_input-wrapper,
  .cancel-exchange-popup .login-popup_input-wrapper {
    display: flex;
    width: 369px;
    justify-content: space-between;
    margin: 0 auto; }
    .login-popup .login-popup_input-wrapper input:first-child,
    .sign-up-popup .login-popup_input-wrapper input:first-child,
    .exchange-popup .login-popup_input-wrapper input:first-child,
    .confirm-change-popup .login-popup_input-wrapper input:first-child,
    .cancel-exchange-popup .login-popup_input-wrapper input:first-child {
      max-width: 248px; }
    .login-popup .login-popup_input-wrapper input:last-child,
    .sign-up-popup .login-popup_input-wrapper input:last-child,
    .exchange-popup .login-popup_input-wrapper input:last-child,
    .confirm-change-popup .login-popup_input-wrapper input:last-child,
    .cancel-exchange-popup .login-popup_input-wrapper input:last-child {
      max-width: 106px; }
  .login-popup span,
  .sign-up-popup span,
  .exchange-popup span,
  .confirm-change-popup span,
  .cancel-exchange-popup span {
    margin: 0 auto;
    width: 369px;
    text-align: left;
    display: block; }

.exchange-popup span {
  padding: 0 0 15px 0; }

.exchange-popup input + span {
  margin-top: 30px; }

.login-popup.active,
.sign-up-popup.active,
.exchange-popup.active,
.cancel-exchange-popup.active,
.confirm-change-popup.active {
  width: 570px;
  border-radius: 12px;
  background-color: #32359b;
  box-shadow: 0 12px 34px 0 #131550;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  top: 23%;
  left: calc(100% / 2 - 275px); }
  .login-popup.active input,
  .sign-up-popup.active input,
  .exchange-popup.active input,
  .cancel-exchange-popup.active input,
  .confirm-change-popup.active input {
    width: 369px;
    background-color: #4346b4;
    border: none;
    margin: 0 0 15px 0;
    border-radius: 6px; }
    .login-popup.active input::-webkit-input-placeholder,
    .sign-up-popup.active input::-webkit-input-placeholder,
    .exchange-popup.active input::-webkit-input-placeholder,
    .cancel-exchange-popup.active input::-webkit-input-placeholder,
    .confirm-change-popup.active input::-webkit-input-placeholder {
      color: #8d90fb; }
    .login-popup.active input::-moz-placeholder,
    .sign-up-popup.active input::-moz-placeholder,
    .exchange-popup.active input::-moz-placeholder,
    .cancel-exchange-popup.active input::-moz-placeholder,
    .confirm-change-popup.active input::-moz-placeholder {
      color: #8d90fb; }
    .login-popup.active input:-moz-placeholder,
    .sign-up-popup.active input:-moz-placeholder,
    .exchange-popup.active input:-moz-placeholder,
    .cancel-exchange-popup.active input:-moz-placeholder,
    .confirm-change-popup.active input:-moz-placeholder {
      color: #8d90fb; }
    .login-popup.active input:-ms-input-placeholder,
    .sign-up-popup.active input:-ms-input-placeholder,
    .exchange-popup.active input:-ms-input-placeholder,
    .cancel-exchange-popup.active input:-ms-input-placeholder,
    .confirm-change-popup.active input:-ms-input-placeholder {
      color: #8d90fb; }
  .login-popup.active h3,
  .sign-up-popup.active h3,
  .exchange-popup.active h3,
  .cancel-exchange-popup.active h3,
  .confirm-change-popup.active h3 {
    margin-bottom: 30px; }
  .login-popup.active p,
  .sign-up-popup.active p,
  .exchange-popup.active p,
  .cancel-exchange-popup.active p,
  .confirm-change-popup.active p {
    margin: 0;
    color: #dadadb;
    max-width: 369px;
    text-align: center; }
    .login-popup.active p span,
    .sign-up-popup.active p span,
    .exchange-popup.active p span,
    .cancel-exchange-popup.active p span,
    .confirm-change-popup.active p span {
      color: #6468ff; }
  .login-popup.active .your-request,
  .sign-up-popup.active .your-request,
  .exchange-popup.active .your-request,
  .cancel-exchange-popup.active .your-request,
  .confirm-change-popup.active .your-request {
    padding: 0 0 20px 0; }
  .login-popup.active .login-popup_btn,
  .login-popup.active .sign-up_btn,
  .login-popup.active .exchange_btn,
  .sign-up-popup.active .login-popup_btn,
  .sign-up-popup.active .sign-up_btn,
  .sign-up-popup.active .exchange_btn,
  .exchange-popup.active .login-popup_btn,
  .exchange-popup.active .sign-up_btn,
  .exchange-popup.active .exchange_btn,
  .cancel-exchange-popup.active .login-popup_btn,
  .cancel-exchange-popup.active .sign-up_btn,
  .cancel-exchange-popup.active .exchange_btn,
  .confirm-change-popup.active .login-popup_btn,
  .confirm-change-popup.active .sign-up_btn,
  .confirm-change-popup.active .exchange_btn {
    color: #fff;
    cursor: pointer;
    background-color: #4b4fe8; }

.cancel-exchange-popup span {
  padding: 0 0 15px 0; }
.cancel-exchange-popup button {
  width: 100%;
  background-color: #4b4fe8;
  max-width: 369px;
  border: none;
  border-radius: 6px;
  height: 37px;
  color: #fff; }

.close {
  display: flex;
  align-self: flex-end;
  cursor: pointer; }
  .close .img-wrapper {
    width: 15px;
    height: 15px; }

/*Asked questions*/
.questions {
  padding: 50px 0 130px; }

.questions a {
  text-decoration: underline;
  display: inline-block;
  padding: 0 0 27px 0;
  color: #fff; }

.asked-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .asked-wrapper .col-left {
    flex: 1;
    max-width: 322px; }
  .asked-wrapper .col-right {
    flex: 2;
    padding: 0 0 0 187px; }
    .asked-wrapper .col-right h3 {
      margin: 0 0 12px 0; }
    .asked-wrapper .col-right p {
      line-height: 1.71;
      color: #9495cb; }

.checkbox-wrapper input[type="checkbox"] {
  display: none; }

.profile-header {
  background-color: #242784; }

.tabs-wrapper .col:last-child {
  flex: 1; }

.tabs-wrapper input {
  display: none; }
  .tabs-wrapper input:checked + label {
    border-radius: 6px;
    background-color: #4b4fe8;
    color: #fff; }

.tabs-wrapper label {
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  height: 30px;
  text-align: center;
  color: #8e8fb8;
  cursor: pointer;
  font-family: robotomedium; }
  .tabs-wrapper label:not(:last-child) {
    margin: 0 20px 0 0; }

.tabs-wrapper {
  padding: 30px 0 0 0; }

.tabs-wrapper section {
  display: none;
  padding: 40px 0 90px 0; }

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block; }

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .content-wrapper button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: transparent no-repeat;
    background-size: cover; }
    .content-wrapper button:first-child {
      background-image: url("../img/cancel.svg");
      margin: 0 15px 0 0; }
    .content-wrapper button:last-child {
      background-image: url("../img/confirm-profile.svg"); }

.exchanges-confirmed {
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #4346b4;
  box-shadow: 0 12px 34px 0 rgba(19, 21, 80, 0.59);
  padding: 15px 25px 15px 15px;
  display: flex;
  align-items: center; }
  .exchanges-confirmed p {
    color: #fff;
    font: 14px robotobold; }
  .exchanges-confirmed .img-wrapper {
    width: 21px;
    height: 21px;
    margin: 0 10px 0 0; }

.confirm-change-popup.active .confirm-change-popup_wrapper {
  max-width: 369px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 20px 0;
  margin: 0 auto; }
  .confirm-change-popup.active .confirm-change-popup_wrapper input {
    margin: 0 6px 0 auto;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #4346b4; }
  .confirm-change-popup.active .confirm-change-popup_wrapper input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    opacity: 0; }
  .confirm-change-popup.active .confirm-change-popup_wrapper input[type="checkbox"] + label:before {
    background: url(../img/check.svg) -27px -3px;
    width: 22px;
    height: 22px;
    content: '';
    display: inline-block;
    margin: 0 6px 0 0; }
  .confirm-change-popup.active .confirm-change-popup_wrapper input[type="checkbox"]:checked + label:before {
    background: url(../img/check.svg) -3px 25px;
    width: 22px;
    height: 22px;
    content: '';
    display: inline-block; }
  .confirm-change-popup.active .confirm-change-popup_wrapper label {
    display: flex;
    align-items: center; }
    .confirm-change-popup.active .confirm-change-popup_wrapper label.disabled {
      color: #8e8fb8; }
  .confirm-change-popup.active .confirm-change-popup_wrapper div {
    display: flex;
    align-items: center;
    position: relative; }

.confirm-change-popup form > span:first-child {
  margin: 0 auto 15px; }

.confirm-change-popup form span + input + span {
  margin: 15px auto 0; }

.complete {
  color: #2fbfb6; }

.waiting {
  color: #e0e0e0; }

.canceled {
  color: #d76573; }

.hidden span {
  padding: 0 0 15px 0; }

.tabs-wrapper_settings .img-wrapper {
  width: 48px;
  height: 48px;
  margin: 0 20px 0 0; }

.checkbox-wrapper label {
  padding: 0;
  max-width: 195px;
  text-align: left;
  margin: 0 0 20px 0; }
.checkbox-wrapper .checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }
.checkbox-wrapper .checkbox__text {
  position: relative;
  cursor: pointer;
  line-height: 1.31;
  font-size: 16px; }
.checkbox-wrapper .checkbox__text:before {
  content: '';
  position: absolute;
  top: 11px;
  right: -120px;
  width: 34px;
  height: 12px;
  border-radius: 5px;
  background-color: #32359b;
  transition: .2s; }
.checkbox-wrapper .checkbox__text:after {
  content: '';
  position: absolute;
  top: 8px;
  right: -103px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #32359b;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.31);
  transition: .2s; }
.checkbox-wrapper .checkbox input:checked + .checkbox__text:before {
  background: #4b4fe8; }
.checkbox-wrapper .checkbox input:checked + .checkbox__text:after {
  right: -120px;
  background: #4b4fe8; }

.tabs-wrapper_settings {
  width: calc(100% / 3 - 71px); }

.tabs-wrapper_settings p {
  font-size: 16px;
  color: #fff; }
  .tabs-wrapper_settings p span {
    color: #9495cb; }

.content-wrapper .tabs-wrapper_settings button {
  background-image: none;
  width: auto;
  height: auto;
  font: 14px robotomedium; }
  .content-wrapper .tabs-wrapper_settings button.cancel-btn {
    color: #9495cb;
    margin: 20px 20px 0 0; }
  .content-wrapper .tabs-wrapper_settings button.save-btn {
    color: #6468ff;
    margin: 20px 0 0 0; }

.tabs-wrapper_settings_title {
  display: flex;
  align-items: center;
  margin: 0 0 23px 0; }
  .tabs-wrapper_settings_title span {
    font: 16px 'robotobold'; }

.tabs-wrapper_settings input {
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 16px;
  border: none;
  display: block;
  border-radius: 6px;
  background-color: #4346b4;
  padding: 8px; }
  .tabs-wrapper_settings input::-webkit-input-placeholder {
    color: #878aff; }
  .tabs-wrapper_settings input::-moz-placeholder {
    color: #878aff; }
  .tabs-wrapper_settings input:-moz-placeholder {
    color: #878aff; }
  .tabs-wrapper_settings input:-ms-input-placeholder {
    color: #878aff; }

.assets-item-wrapper {
  width: 31.3%;
  margin: 0 0 30px 0;
  position: relative; }

.assets-item {
  padding: 20px;
  display: flex;
  border-radius: 6px;
  position: relative;
  background-color: #32359b;
  box-shadow: 0 12px 24px 0 rgba(19, 21, 80, 0.53);
  z-index: 2; }
  .assets-item .img-wrapper {
    width: 65px;
    height: 55px;
    border: solid 3px #878aff;
    border-radius: 50px;
    padding: 10px;
    margin: 0 20px 0 0; }

.assets-item .assets-item_info {
  width: 100%; }
  .assets-item .assets-item_info p, .assets-item .assets-item_info span {
    color: #fff; }
  .assets-item .assets-item_info .account {
    font: 26px robotomedium;
    margin: 11px 0 20px; }
  .assets-item .assets-item_info button {
    width: 98px;
    margin: 0 10px 0 0;
    background-color: #4b4fe8;
    background-image: none;
    border-radius: 6px;
    color: #fff;
    height: 22px; }
    .assets-item .assets-item_info button:hover {
      background-color: #4346b4; }

.concluded:before {
  content: '';
  display: inline-block;
  background-image: url("../img/lock.svg");
  width: 8px;
  height: 10px;
  margin: 0 5px 0 0; }

.assets-item_deposit-info,
.assets-item_withdraw-info {
  display: none; }

.assets-item_deposit-info.active,
.assets-item_withdraw-info.active {
  display: block;
  padding: 28px 28px 20px;
  width: 100%;
  margin-top: -13px;
  z-index: 1;
  background-color: #32359b;
  box-shadow: 0 12px 24px 0 rgba(19, 21, 80, 0.53);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }
  .assets-item_deposit-info.active .title button,
  .assets-item_withdraw-info.active .title button {
    background-image: url("../img/ask.svg"); }
  .assets-item_deposit-info.active .title span,
  .assets-item_withdraw-info.active .title span {
    font-size: 14px;
    color: #fff; }
  .assets-item_deposit-info.active input.copy-address,
  .assets-item_withdraw-info.active input.copy-address {
    display: block;
    width: 100%;
    border-radius: 6px;
    border: none;
    background: #4346b4 url("../img/copy.svg") no-repeat 95% 50%;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .assets-item_deposit-info.active input.copy-address:after,
    .assets-item_withdraw-info.active input.copy-address:after {
      content: '';
      display: inline-block;
      background-image: url("../img/copy.svg");
      width: 14px;
      height: 15px; }
    .assets-item_deposit-info.active input.copy-address::-webkit-input-placeholder,
    .assets-item_withdraw-info.active input.copy-address::-webkit-input-placeholder {
      color: #878aff; }
    .assets-item_deposit-info.active input.copy-address::-moz-placeholder,
    .assets-item_withdraw-info.active input.copy-address::-moz-placeholder {
      color: #878aff; }
    .assets-item_deposit-info.active input.copy-address:-moz-placeholder,
    .assets-item_withdraw-info.active input.copy-address:-moz-placeholder {
      color: #878aff; }
    .assets-item_deposit-info.active input.copy-address:-ms-input-placeholder,
    .assets-item_withdraw-info.active input.copy-address:-ms-input-placeholder {
      color: #878aff; }

.assets-item_deposit-info.active p span {
  line-height: 1.25;
  display: inline-block; }
  .assets-item_deposit-info.active p span:first-child {
    margin: 0 0 10px 0; }

.assets-item_deposit-info.active .title {
  padding: 0 0 10px 0; }

.assets-item_deposit-info.active button.cancel {
  width: 100%;
  color: #fff;
  background-image: none;
  background-color: #4043bc;
  height: 30px;
  border-radius: 6px;
  margin: 10px 0 0 0; }

.assets-item_deposit-info_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 20px 0; }
  .assets-item_deposit-info_content .img-wrapper {
    width: 72px;
    height: 72px; }
  .assets-item_deposit-info_content p {
    max-width: 218px;
    margin: 0; }

.assets-item_withdraw-info.active input,
.assets-item_deposit-info.active input {
  display: block;
  width: 100%;
  background-color: #4346b4;
  border: none;
  border-radius: 6px;
  margin: 0 0 10px 0;
  font-size: 14px;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .assets-item_withdraw-info.active input::-webkit-input-placeholder,
  .assets-item_deposit-info.active input::-webkit-input-placeholder {
    color: #878aff; }
  .assets-item_withdraw-info.active input::-moz-placeholder,
  .assets-item_deposit-info.active input::-moz-placeholder {
    color: #878aff; }
  .assets-item_withdraw-info.active input:-moz-placeholder,
  .assets-item_deposit-info.active input:-moz-placeholder {
    color: #878aff; }
  .assets-item_withdraw-info.active input:-ms-input-placeholder,
  .assets-item_deposit-info.active input:-ms-input-placeholder {
    color: #878aff; }

.assets-item_withdraw-info.active .btn-wrapper {
  display: flex;
  justify-content: space-between; }
  .assets-item_withdraw-info.active .btn-wrapper button {
    width: 47%;
    color: #fff;
    height: 30px;
    border-radius: 6px;
    background-image: none;
    background-color: #4b4fe8; }

.referral-program-wrapper {
  padding: 0 30px 0 0;
  max-width: 470px; }
  .referral-program-wrapper p {
    margin: 0 0 15px 0;
    color: #8e8fb8; }

.referral-link {
  flex: 2;
  background-color: #32359b;
  box-shadow: 0 12px 24px 0 rgba(19, 21, 80, 0.53);
  border-radius: 6px;
  padding: 0 20px 20px 20px; }
  .referral-link .link-for-copy {
    display: flex;
    justify-content: space-between; }
    .referral-link .link-for-copy .copy-link-btn {
      width: 117px;
      background-image: none;
      background-color: #4b4fe8;
      color: #fff;
      border-radius: 6px;
      height: 30px; }
    .referral-link .link-for-copy input {
      display: inline-block;
      border: none;
      width: 80%;
      height: 30px;
      background-color: #4346b4;
      border-radius: 6px;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .referral-link .link-for-copy input::-webkit-input-placeholder {
        color: #878aff; }
      .referral-link .link-for-copy input::-moz-placeholder {
        color: #878aff; }
      .referral-link .link-for-copy input:-moz-placeholder {
        color: #878aff; }
      .referral-link .link-for-copy input:-ms-input-placeholder {
        color: #878aff; }

.title .social .img-wrapper {
  width: 13px;
  height: 13px;
  cursor: pointer; }

.title .social {
  display: flex; }
  .title .social ul {
    display: flex;
    padding: 0 0 0 12px; }
    .title .social ul li {
      padding: 0 5px 0 0; }

.wrapper-statistic {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: flex-start; }
  .wrapper-statistic .wrapper-statistic_item {
    width: 21%;
    margin: 0 107px 0 0; }
    .wrapper-statistic .wrapper-statistic_item .wrapper-statistic_item-col {
      display: flex;
      justify-content: space-between; }
      .wrapper-statistic .wrapper-statistic_item .wrapper-statistic_item-col div span {
        display: block;
        max-width: 118px;
        font-size: 12px;
        color: #878aff; }
        .wrapper-statistic .wrapper-statistic_item .wrapper-statistic_item-col div span:first-child {
          color: #fff;
          font-size: 26px;
          padding: 0 0 10px 0; }

body {
  background-color: #eaebff; }

.wrapper {
  background-image: linear-gradient(140deg, #f4f4ff 30%, transparent 30%); }

.logo-wrapper .logo {
  background-image: url("../img/logo-light.png");
  width: 114px;
  height: 22px; }

.logo-wrapper .night-version-btn {
  background: transparent url(../img/sun.svg) no-repeat 5% 50%;
  color: #4b4fe8; }

nav ul a {
  color: #7b7ec2; }
  nav ul a:hover {
    color: #32359b; }

nav button.login {
  border-color: #4b4fe8;
  color: #32359b; }
  nav button.login.sign-up {
    background-color: #6468ff; }

.content h1,
.content p {
  color: #32359b; }

.exchange {
  background-color: #b8bdff; }

.exchange-btn {
  background-color: #6468ff; }

.sum,
.wrapper-dropdown {
  background-color: #e8e9ff;
  color: #4b4fe8; }

.sum {
  color: #878aff; }

.wrapper-dropdown .dropdown {
  background-color: #e8e9ff;
  color: #878aff; }

.wrapper-dropdown .dropdown li:hover a {
  color: #4b4fe8; }

.exchange-button {
  background: transparent url("../img/exchange-light.svg"); }

/*# sourceMappingURL=light-style.css.map */
