$buttonColor: #4b4fe8;
$borderRadius: 6px;
$grey: #9495cb;
$violet: #4346b4;
$lightViolet: #878aff;
$darkViolet: #32359b;
$white: #fff;

*,
*:before,
*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}

a{
  text-decoration: none;
  color: $white;
}

input{
  padding: 10px 12px;
  color: $lightViolet;
}

img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

button{
  cursor: pointer;
}

h3{
  font: 16px robotobold;
}

body{
  margin: 0;
  padding: 0;
  font: 14px robotoregular;
  color: $white;
  background-color: #212374;
}

.container{
  max-width: 1167px;
  margin: 0 auto;
}

main{
  position: relative;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0 0;
}

nav{
  display: flex;
  ul{
    display: flex;
    align-items: center;
    li:not(:last-child){
      padding: 0 30px 0 0;
    }
    a{
      color: #a2a3ca;
      font-size: 16px;
      &:active,
      &:hover{
        color: $white;
        font-weight: bold;
      }
    }
  }
  button{
    width: 100px;
    height: 35px;
    border-radius: $borderRadius;
    color: $white;
    &.login{
      margin: 0 10px 0 40px;
      background-color: transparent;
      border: 1px solid $white;
    }
    &.sign-up{
      background-color: $buttonColor;
      border: none;
    }
  }
}

.logo-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    width: 109px;
    height: 20px;
    display: inline-block;
    margin: 0 46px 0 0;
    background-image: url("../img/logo.svg");
  }
  .night-version-btn{
    border: none;
    background: transparent url("../img/night-v.svg") no-repeat 5% 50%;
    color: $white;
    padding: 10px 0 10px 7px;
    width: 125px;
    font: 12px robotomedium;
  }
}

.profile a{
  display: flex;
  span{
    padding: 0 5px 0 0;
    color: $lightViolet;
  }
  .img-wrapper{
    width: 14px;
    height: 14px;
  }
}

.wrapper{
  width: 100%;
  background-image: linear-gradient(140deg, #242784 30%, transparent 30%);
}

.content{
  max-width: 456px;
  padding: 20% 0 0 0;
  color: $white;
  h1{
    font: 32px robotobold;
  }
  p{
    line-height: 1.7;
    color: $white;
    font-size: 14px;
  }
}

.exchange{
  background-color: $darkViolet;
  box-shadow: 0 12px 34px 0 rgba(19, 21, 80, 0.52);
  border-radius: $borderRadius;
  padding: 20px;
  margin: 50px 0 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .img-wrapper{
    width: 19px;
    height: 19px;
    cursor: pointer;
    display: inline-block;
  }
}

.exchange-button{
  width: 20px;
  height: 20px;
  background: transparent url("../img/exchange.svg");
  border: none;
}

.exchange-rate .title{
  margin: 0 0 30px 0;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    font-size: 14px;
    color: #a0a1c3;
  }
}

.wrapper-dropdown {
  display: inline-block;
  position: relative;
  padding: 10px 25px 10px 12px;
  background: $violet;
  cursor: pointer;
  outline: none;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: $lightViolet transparent;
}

.wrapper-dropdown .dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  transition: all 0.3s ease-out;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  background-color: $violet;
  border-bottom-right-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease-out;
  color: $grey;
}

.wrapper-dropdown .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}

.wrapper-dropdown .dropdown li:hover a {
  color: $white;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.wrapper-dropdown.active:after {
  border-width: 0 6px 6px 6px;
}

.sum{
  height: 37px;
  width: 384px;
  background-color: $violet;
  border: none;
  border-bottom-right-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.exchange-btn{
  color: $white;
  border: none;
  background-color: $buttonColor;
  border-radius: $borderRadius;
  width: 152px;
  height: 37px;
  &:hover{
    box-shadow: 1px 2px 10px 0 #1a1d71;
  }
}

.currencies .currencies-wrapper{
  display: flex;
  justify-content: flex-start;
  margin: 45px 0 0 0;
  .currencies_item{
    flex-direction: column;
    margin: 0 40px 0 0;
    text-align: center;
  }
  .currencies_item span{
    font-size: 12px;
  }
  .currencies_item-img-wrapper{
    width: 43px;
    height: 43px;
    border: solid 3px $violet;
    border-radius: 50px;
    padding: 8px;
    margin: 0 0 12px 0;
    display: inline-block;
  }
}

.currencies h3+div{
  width: 500px;
}

  /*Style for table*/
.wrapper-exchange{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.exchange-rate{
  min-width: 570px;
  span{
    font-size: 12px;
  }
}

.exchange-rate .table .row .col{
  color: $white;
}

.table{
  min-width: 570px;
  border-radius: 4px;
  h3{
    margin-bottom: 20px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    &:nth-child(odd){
      background-color: rgba(50, 53, 155, 0.4);
      &:last-child{
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    &:nth-child(even){
      background-color: $darkViolet;
      border-radius: 4px;
    }
    &.head .col{
      color: $lightViolet;
      font-family: robotomedium;
    }
    .col{
      display: flex;
      align-items: center;
      &:first-child{
        padding: 7px 14px;
        flex: 0.7;
      }
      &:last-child{
        padding: 0 14px 0 0;
      }
    }
    .col .img-wrapper{
      width: 25px;
      height: 25px;
      border: solid 1px $lightViolet;
      border-radius: 50px;
      padding: 5px;
    }
  }
}

.table .row:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.table .row .col{
  flex: 1.5;
  color: $grey;
}

/*News*/

.news{
  padding: 80px 0 42px 0;
  h3{
    margin: 0 0 30px 0;
  }
}

.news-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .news-item{
    width: 31%;
    h4{
      margin: 5px 0 13px;
    }
  }
.news-item.latest .share .social{
    display: flex;
    justify-content: space-between;
  }
}

.news-wrapper+a{
  display: block;
  padding: 13px 0 0 0;
  text-align: right;
}

.news-item.latest{
  padding: 0 0 43px 0;
  h4{
    margin: 5px 0 13px;
  }
}

.news-item span,p{
  color: $grey;
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
}

a{
  color: #6468ff;
}

.news-piece-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  p{
    line-height: 1.67;
  }
  h3{
    margin: 0 0 20px 0;
  }
  .col-right{
    padding: 0 0 0 127px;
    .social{
      display: flex;
      padding: 15px 0 0 0;
      li:not(:last-child){
        padding: 0 14px 0 0;
      }
    }
  }
}

.news-item.latest .share .social .img-wrapper{
  width: 20px;
  height: 20px;
}

/*Rules*/
.rules{
  padding: 50px 0;
  line-height: 24px;
  h3+p{
    font-size: 12px;
  }
  ul li p{
    margin: 5px 0 25px;
  }
}

/*Footer*/
footer{
  background-color: #12146a;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    color: $grey;
    ul{
      display: flex;
      li a{
        color: $grey;
      }
      li:first-child{
        padding: 0 23px 0 0;
      }
    }
  }
}

.footer-profile{
  background-color: transparent;
}
/*Login-popup*/

.login-popup,
.sign-up-popup,
.exchange-popup,
.confirm-change-popup,
.cancel-exchange-popup{
  display: none;
  .login-popup_input-wrapper{
    display: flex;
    width: 369px;
    justify-content: space-between;
    margin: 0 auto;
    input:first-child{
      max-width: 248px;
    }
    input:last-child{
      max-width: 106px;
    }
  }
  span{
    margin: 0 auto;
    width: 369px;
    text-align: left;
    display: block;
  }
}

.exchange-popup span{
  padding: 0 0 15px 0;
}

.exchange-popup input+span{
  margin-top: 30px;
}

.login-popup.active,
.sign-up-popup.active,
.exchange-popup.active,
.cancel-exchange-popup.active,
.confirm-change-popup.active{
  width: 570px;
  border-radius: 12px;
  background-color: $darkViolet;
  box-shadow: 0 12px 34px 0 #131550;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  top: 23%;
  left: calc(100% / 2 - 275px);
  input{
    width: 369px;
    background-color: $violet;
    border: none;
    margin: 0 0 15px 0;
    border-radius: $borderRadius;
    &::-webkit-input-placeholder {color:#8d90fb;}
    &::-moz-placeholder          {color:#8d90fb;}
    &:-moz-placeholder           {color:#8d90fb;}
    &:-ms-input-placeholder{color:#8d90fb;}
  }
  h3{
    margin-bottom: 30px;
  }
  p{
    margin: 0;
    color: #dadadb;
    max-width: 369px;
    text-align: center;
    span{
      color: #6468ff;
    }
  }
  .your-request{
    padding: 0 0 20px 0;
  }
  .login-popup_btn,
  .sign-up_btn,
  .exchange_btn{
    color: $white;
    cursor: pointer;
    background-color: $buttonColor;
  }
}

.cancel-exchange-popup{
  span{
    padding: 0 0 15px 0;
  }
  button{
    width: 100%;
    background-color: $buttonColor;
    max-width: 369px;
    border: none;
    border-radius: $borderRadius;
    height: 37px;
    color: $white;
  }
}

.close{
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  .img-wrapper{
    width: 15px;
    height: 15px;
  }
}

/*Asked questions*/

.questions{
  padding: 50px 0 130px;
}

.questions a{
  text-decoration: underline;
  display: inline-block;
  padding: 0 0 27px 0;
  color: $white;
}
.asked-wrapper{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .col-left{
    flex: 1;
    max-width: 322px;
  }
  .col-right{
    flex: 2;
    padding: 0 0 0 187px;
    h3{
      margin: 0 0 12px 0;
    }
    p{
      line-height: 1.71;
      color: #9495cb;
    }
  }
}